# Unity temporary and build files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/

# Vuforia package
/[Pp]ackages/com.ptc.vuforia.engine-*.tgz
/[Aa]ssets/Editor/Vuforia*
/Assets/Vuforia*

# Large images or binaries
*.jpg
*.png
*.mp4
*.tif
*.tga
*.zip
